.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-linkedin {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-instagram {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-Logo-five {
  width: 59px;
  height: 32px;
  background-position: -192px 0;
}
.icon-Logo-four {
  width: 59px;
  height: 32px;
  background-position: -288px 0;
}
.icon-Logo-3 {
  width: 59px;
  height: 32px;
  background-position: -384px 0;
}
.icon-Logo-two {
  width: 59px;
  height: 32px;
  background-position: -480px 0;
}
.icon-Logo-one {
  width: 59px;
  height: 32px;
  background-position: -576px 0;
}
.icon-Logo {
  width: 59px;
  height: 32px;
  background-position: -672px 0;
}
.icon-Ellipse {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-linkedin-one {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-facebook-one {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-twitter-one {
  width: 32px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-instagram-two {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-astronaut {
  width: 32px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-diagram {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-clock {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-antenna {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}

